@{
    ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
<div class="content-wrap">
    <div class="center-wrapper text-center">
        <div class="center-content">
            <div class="subscription col-md-6 col-md-offset-3 bg-white">
                <i class="fa fa-arrow-circle-o-up fa-2x"></i>
                <h5><strong>About</strong></h5>
                <p>This application is used to log starters and leavers.</p>
                <div class="img-thumbnail">
                    <img src="~/Content/img/Hovis Master Logo.PNG" class="avatar avatar-lg img-rounded" alt="Hovis" />
                </div>
                <p class="text-left mg-l-md">
                    <small>
                        <i>All Rights reserved Hovis Ltd.</i>
                    </small>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- /content wrapper -->
