@{
    ViewBag.Title = "Starters and Leavers";
}

<div class="content-wrap app-home">

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <section class="panel">
                <div class="panel-body" style="min-height: 250px" align="center">
                    <h3>
                        <a href="/Starter">
                            <img src="~/Content/img/starter.jpg" alt="TOPS" width="350" />
                            <br />
                            New Starters
                        </a>
                    </h3>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-6">

            <section class="panel">
                <div class="panel-body" style="height: 250px" align="center">
                    <h3>
                        <a href="/Leaver">
                             <img src="~/Content/img/leaver.jpg" alt="TOPS" width="250" />
                            <br />
                            Leavers
                        </a>
                    </h3>
                </div>
            </section>
        </div>
        @*<div class="col-xs-12 col-sm-4">

            <section class="panel">
                <div class="panel-body" style="height: 250px">
                    <h3>
                        <a href="/Request">
                            <img src="~/Content/img/Request.jpg" alt="TOPS" width="150" />
                            <br />
                            New Request
                        </a>
                    </h3>
                </div>
            </section>
        </div>*@
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <section class="panel">
                <div class="panel-body" style="min-height: 250px" align="center">
                    <h3>
                        <a href="/Request">
                            <img src="~/Content/img/Request.jpg" alt="TOPS" width="190" />
                            <br />
                            Support Request
                        </a>
                    </h3>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-6">
            <section class="panel">
                <div class="panel-body" style="height: 250px">
                    <h3>
                        <a href="#">
                            <br />
                            @*<img src="/Content/img/Hovis excellence logo_3.jpg" alt="TOPS" width="300" />*@
                            <br />
                            <br />
                            
                        </a>
                    </h3>
                </div>
            </section>
        </div>
        @*<div class="col-xs-12 col-sm-4">
            <section class="panel">
                <div class="panel-body" style="height: 250px">
                    <h3>
                        <a href="/#">
                            <img src="/Content/img/Baker of Choice.png" alt="TOPS" width="300" />
                            <br />
                            <br />
                            
                        </a>
                    </h3>
                </div>
            </section>
        </div>*@
    </div>

</div>