<ul>
    <li class="dropdown show-on-hover">
        <a href="javascript:;" data-toggle="dropdown">
            <i class="fa fa-cogs"></i>
            <span>Master Data</span>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="@Url.Action("Index", "Location")">
                    <span>Location</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Department")">
                    <span>Department</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "EmploymentType")">
                    <span>Employment type</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "StandardSettings")">
                    <span>Standard Settings</span>
                </a>
            </li>
        </ul>
    </li>
</ul>